@import '~@angular/material/theming';

@mixin experiment-status-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .experiment-status {
    .title {
      box-shadow: 0 0 8px 0 mat-color($background, shadow-color);
    }
  }
}
