@import '~@angular/material/theming';

@mixin preview-user-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .exclude-entities {
    .header-title {
      color: mat-color($foreground, text);
    }
  }
}
